.button {
  .rounded(5px);
  .transition();

  &:focus {
    outline: none;
  }

  border: none; 
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  color: white;
  background-color: white;
  padding: 3px 6px;
  font-size: @button-font-size;
  font-family: @font-semi-bold;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
  // remove inner shadow and move 1px down for a pressed-down effect
  &:active,
  &.pressed {
    .pressed();
  }    
  &.on {
    background: url('../images/ico-on.svg') no-repeat;
    &:hover {
      //background-color: lighten(@tgd-green,10%);
    }
  }
  &.delete {
    border: 1px solid @blueishGray;
    color: @blueishGray;
    text-transform: uppercase;
    display: inline-block;
    font-size: 10px;
    font-family: @font-semi-bold;
    padding: 2px 6px;
  }
  &.off {
    background: url('../images/ico-off.svg') no-repeat;
    &:hover {
      //background-color: lighten(@lightGray,10%);
    }
  }
  
  &.on,&.off {
    color: transparent;
    padding: 0;
    width: 10px;
  }

  &.allowed {
    font-size: @button-font-size;
    background-color: @tgd-green;
    width: 58px;
    &:hover {
      background-color: lighten(@tgd-green,10%);
    }
  }
  &.blocked {
    font-size: @button-font-size;
    width: 58px;
    background-color: @tgd-red;
    &:hover {
      background-color: lighten(@tgd-red,10%);
    }
  }
  &.block {
    background-color: @blueishGray;
  }
  &.share,&.add,&.store/*,&.facebook,&.twitter,&.google-plus*/ {
   display: inline-block;
   margin-left: 3px;
  }
  &.fa-facebook,&.fa-twitter,&.fa-google-plus {
    padding:3px;
    width: 17px;
    text-align: center;
    margin-left: 2px;
    background-color: @blueishGray;
    &:hover {
      background-color: lighten(@blueishGray, 10%);
      color: white;
    }
  }
  &.expanded {
    background: url('../images/threats-arrow-up.svg') no-repeat;
    &:hover {
      //background-color: lighten(@gray,10%);
      //color: white;
    }
  }
  &.collapsed {
    background: url('../images/threats-arrow-down.svg') no-repeat;
    &:hover {
      //background-color: lighten(@tgd-red,10%);
      //color: white;
    }
  }
  
  &.expanded, &.collapsed {
    color: transparent;
    width: 26px;
  }
  &.donate,
  &.become-owner {
    background-color: @purple;
    &:hover {
      background-color: lighten(@purple, 10%);
      color: white;
    }
  }
  &.become-owner {
    width: 100%;
  }
  &.single-char {
     //padding: 0 5px 2px 5px;
     //margin: 1px 0 0 10px;
  }
  &#btnLogin {
  color: @gray;
  }
  &#btnExpandAdtracks {
    margin-left: 16px;
  }
  &#moreProjects {
    background: url(../images/arrow-right.svg) no-repeat;
    color: transparent;
    width: 26px;
    height: 27px;
    vertical-align: middle;
    margin-left: 9px;
  }
}

