footer#footer {
  border-top : 1px solid @lightGray;
  color: @gray;
  padding: 9px 11px 5px 11px;

  &>div {
    /*float:left;*/
    vertical-align: top;
    &#not-working .button {
      width: 30px;
      padding-top: 3px;
      padding-bottom:2px;
      line-height: 1em;
      margin-right: 5px;
    }
  }
  ul.content-options {
    font-size: 12px;
    color: @color-text;
    margin: 0;
    padding: 6px 0 0 0;
    li {
      list-style: none;
      margin-bottom: 5px;
      height: 17px;
      &:last-of-type {
        margin-bottom: 0px;
      }
      p {
        display: inline;
      }
    }
  }

  .title {
    font-family: @font-medium;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  #not-working {
    width: 188px;
  }
  .version {
    margin-top:5px;  
  }

  #in-love {
    width: 116px;
    .button {
      float: left;
      margin-right: 1.5px;
      margin-top: 1px;
    }
  }
  .email-us {
    font-family: @font-regular;
    font-size:11px;
    padding-left: 0;
    padding-right: 0;
    color: @gray;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }  
  h2 {
    font-size: 13px;
    margin-left: 7px;
  }
  a {
    text-decoration: none;
  }
  .button.invite-friends {
    color: #428bca;
    font-size: 13px;
    &:hover {
      color: #2a6496;
    }
  }
  #invite-friends-expand {
    margin-top: 5px;
    i.fa {
      padding: 6px;
      margin: 2px 1px;
    }
    
    .fa-facebook {
      background-color: #3b5998;
      color: #fff;
      padding-left: 9px !important;
      padding-right: 10px !important;
    }
    .fa-twitter {
      color: #fff;
      background-color: #55acee;
    }
    .fa-google-plus {
      background-color: #cb4437;
      color: #fff;
    }
    
    .social-share-container {
      display: inline-block;
      padding-left: 4px;
    }
    
  }
     
}