/* 
    Created on : Dec 16, 2013, 4:41:40 PM
    Author     : juan
*/
@brown-text: #81724d; // dark beige
@navy-blue : #095779;
@navy-blue-dark : #06445F;
@light-blue : #ECF4F8;
@light-yellow : #FAFAF3;
@light-gray : #EFEFEF;
@light-gray-off : #BFBFBF;
@light-yellow: #F6F6E9;
@gray-social-icons : #6E828D;
@gray-text : #7D7D7D;
@gray-text-header : #99ABB5;
@gray-lines: #CCC;
@purple : #8E64BF;
@block-button : #6E828D;
@allow-button : #EA6654;

@input-border-color: #DDDECB;

@tgd-blue: #8cc6e8;
@tgd-green: #74bb83;
@tgd-red: #e76758;
@tgd-yellow: #fac255;

@h1-font-size: 20px;
@button-font-size: 10px;
@small-font-size: @button-font-size;
@xsmall-font-size: 9px;

@font-regular : ProximaNovaSoft-Regular;
@font-medium : ProximaNovaSoft-Medium;
@font-semi-bold: ProximaNovaSoft-Semibold;

@import "elements.less";
@import "variables.less";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    font-family: @font-regular;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */


#container{
    width : 320px;
}

body{
    margin:0;
    padding: 0;
    border-width: 0;
}

// login section
#login{
    .close{
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: 0px;
        font-size: 20px;
    }

    header{
        > div{            
            text-align: center;
            padding-bottom:10px;
            padding-right: 0;

            > h1{
                color: @navy-blue;
                display: inline;
                position: relative;
                font-size: @h1-font-size;
                top: -17px;
                padding:0px 0 20px 10px;
                /*
                background-image: url("../img/logo-login.png");
                background-position: left center;
                background-repeat: no-repeat;*/
            }
        }
    }
    
    #login-body{
        background-color: @light-yellow;
        text-align: center;
        .inner-shadow(0, 1px, 1px, 0.1);
        padding:10px;
        
        label{
            text-align: left;
            margin: 0;
            display: block;
            font-size: 13px;
            color: #81724d;
            input{
                float: left;
                display: inline-block;
                width: auto;
                margin: 5px;
                margin-top: 1px;
            }
        }

        .hr{
            width: 40px;
            border-top: 1px solid #D8D4C1;
            border-right: none;
            border-bottom: none;
            border-right: none;
            margin: 20px auto;
        }

        div {
            color: @brown-text;
            font-family: @font-semi-bold;
        }

        div:nth-child(1){
            margin:10px auto 15px;
        }
        
        input, button{
            display: block;
            margin: 10px auto;
        }
        
        input{
            .rounded(3px);
            .inner-shadow(0, 1px, 1px, 0.1);
            padding:10px;
            width: 90%;
            border: 1px solid @input-border-color;
            color: @brown-text;
            font-family: @font-regular;    
            
        }

        button{
            .rounded(30px);
            .inner-shadow(0, -2px, 0, 0.2);
            margin: 15px auto;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            border: none;
            width: 220px;         
            font-family: @font-regular;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 1em;
            &.green{
                background-color: @tgd-green;
                &:hover{
                    background-color: lighten(@tgd-green, 10%);
                }
            }
            &.red{
                background-color: @tgd-red;
                &:hover{
                    background-color: lighten(@tgd-red, 10%);
                }
            }
            &:active{
                position: relative;
                top: 2px;
                .inner-shadow(0,0,0);           
            }
        }
    }
}


header{
    
    > div{
        position: relative;
        padding-right: 40px;
    }
    

    .button{
        .rounded(0);
        .inner-shadow(0, 0, 0);
        cursor: pointer;
    }
    
    .welcome{
        font-family: @font-medium;
        font-weight: bold;
        font-size: 16px;
        color : @gray-text;
        background-color : white;
        height : 40px;
        
        > div {
            padding: 6px 8px;
            color: @darkgrey;
            line-height: 28px;
            height: 28px;
            vertical-align: middle;
        }
        
        .logo{
            display: inline-block;
            width: 28px;
            height: 28px;
            background-image: url("../images/logo.png");
            margin-right: 5px;
            vertical-align: middle;
        }
        

        // &.anonymous, &.authenticated{
        //     .button{
        //         margin: 4px 0;
        //         color: white;
        //         text-align: center;
        //         padding: 0;
        //     }
        // }
        &.anonymous, &.authenticated{
            .button{
                .transition();
                padding: 0;
                text-align: center;
                line-height: 40px;
                vertical-align: middle;
                color:@darkgrey;
                font-size: 1.25em;
                &:hover{
                    background-color: @light-gray-off;
                    color: white;
                }
                &:active{
                    position: absolute;
                    top:0px;
                }
            }    
        }
    }
    
    .message{
        color : white;
        background-color: @navy-blue;
        margin-bottom : 10px;
        height : 40px;
        font-size: 11px;
        
        > div {
            padding: 15px 10px 10px 10px;
        }
        
        .button{
            .rounded(0);
            background-color: @navy-blue-dark;
            background-image: url("../images/share.png");
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0;
        }
    }
    
    .button {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
    }
}

section{
    position : relative;
    
    .title-more{
        
        position: relative;
        font-family: @font-medium;
        font-weight: bold;
        font-size: 12px;
        
        .title,.more{
            position: absolute;
            background-repeat: repeat-x;
            z-index: 100;
            padding-left: 3px;
            padding-right: 3px;
        }
        .title{
            background-position: 0px -6px;
            top: -6px;
            left: 5px;
            color : @tgd-blue;
        }
        .more{
            background-position: 0px -7px;
            font-size:@small-font-size;
            top: -5px;
            right: 5px;
            color : @gray-text;
        }
    }
    
    &#good-data{
        background-color : @light-yellow;
        .title, .more{
            background-image: url("../images/good-background.png");
        }
    }
    &#evil-data{
        background-color : @light-blue;
        th{
            text-align: left;
            font-size: @small-font-size;
            color: #99ABB5;
            &:last-child{
                text-align: center;
            }
        }
        
        table{
            width: 100%;
        }
        td{
            padding: 4px 0 2px 0;
            border-top:  1px solid @gray-lines;
            .button{
                padding-top: 4px;
                padding-bottom:3px;
            }
        }
        td:nth-child(3){
            padding-top:0px;
            padding-left: 5px;
        }
        .title, .more{
            background-image: url("../images/evil-background.png");
        }
    }
    &#level{
        padding-bottom: 10px;
        .content{
            padding-bottom: 5px;
            img{
                top: 15px;
            }
        }
        .title, .more{
            background-image: url("../images/apprentice-background.png");
        }
    }
    .content{
        border-top: 1px solid @gray-lines;
        position: relative;
        padding: 25px 10px 25px 60px;
        font-size:14px;
        font-family: @font-medium;
        font-weight:bold;
        color: @gray-text;
        
        img{
            position: absolute;
            left: 5px;
            top: 20px;
        }
        
        .green{
            color: @tgd-green;
        }
        
        .red{
            color: @tgd-red;
        }
    }
    .sub{
        font-size: 12px;
        color: @gray-text;
        margin: 0px 0px 0px 5px;
        .button{
            margin-right: 5px;
            padding-top: 3px;
            padding-bottom:2px;
            line-height: 1em;
            margin: 2px;
            
        }
    }
}

footer{
    background-color : @light-gray;
    border-top : 1px solid @gray-lines;
    color: @gray-text;
    padding-top: 10px;
    
    &>div{
        float:left;
        margin-bottom: 10px;
        &>div{
            margin-left:5px;
            &.option{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size:12px;
                .button{
                    line-height: 1em;
                    margin: 2px;
                }
            }
        }
    }
    
    .title{
        font-family: @font-medium;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
    }
    #not-working{
        width: 59%;
        
        
    }
    #in-love{
        width: 41%;
        .button{
            float: left;
            margin-top: 3px;
        }
    }
}
.pressed(){
    position: relative;
    top: 1px;
    .inner-shadow(0, 0, 0);
}
.button{
    // inner shadow for 3D effect
    .inner-shadow(0, -1px, 0px); 
    // rounded corners  
    .rounded(5px);
    .transition();
    border: none; 
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    color: white;
    padding: 3px 6px;
    font-size: @button-font-size;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
    // remove inner shadow and move 1px down for a pressed-down effect
    &:active,&.pressed{
        .pressed();
    }    
    &.on{
        background-color: @tgd-green;
        &:hover{
            background-color: lighten(@tgd-green,10%);
        }
    }

    &.off{
        background-color: @light-gray-off;
        &:hover{
            background-color: lighten(@light-gray-off,10%);
        }
    }

    &.on,&.off{
        width: 20px;
    }

    &.allowed{
        font-size: @xsmall-font-size;
        background-color: @tgd-green;
        width: 54px;
        &:hover{
            background-color: lighten(@tgd-green,10%);
        }
    }

    &.blocked{
        font-size: @xsmall-font-size;
        width: 54px;
        background-color: @tgd-red;
        &:hover{
            background-color: lighten(@tgd-red,10%);
        }
    }

    &.block{
        background-color: @block-button;
    }
    &.share,&.add,&.store/*,&.facebook,&.twitter,&.google-plus*/{
         display: inline-block;
         margin-left: 5px;
    }
    &.fa-facebook,&.fa-twitter,&.fa-google-plus{
        padding:3px;
        width: 15px;
        text-align: center;
        margin-left: 2px;
        background-color: @block-button;
    }
    &.share{
        background-color: @tgd-yellow;
        &:hover{
            background-color: lighten(@tgd-yellow,10%);
        }
    }
    &.expanded{
        background-color: @light-gray-off;
        &:hover{
            background-color: lighten(@light-gray-off,10%);
        }
    }
    &.collapsed{
        background-color: @tgd-red;
        &:hover{
            background-color: lighten(@tgd-red,10%);
        }
    }
    &.donate,&.become-owner{
        background-color: @purple;
        &:hover{
            background-color: lighten(@purple, 10%);
        }
    }

    &.email-us{
        .inner-shadow(0,0,0);
        background-color: transparent;
        color: @gray-text;
        &:hover{
            background-color: transparent;
        }
    }

    &.become-owner{
        width: 84%;
    }
}
    
    #login{
        
    }